[Desktop Entry]
Version=1.0
Type=Application
Name=Thunar (Root)
Comment=Access and organize files with root priviliges
Icon=Thunar
Exec=pkexec thunar /home/$USER/
NoDisplay=false
Categories=Core;FileManager;GNOME;GTK;System;System-Tools;Utilities;
Keywords=root;administrator;folder;manager;explore;disk;filesystem;xfce;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupNotify=true
Terminal=false
